{
  "env": {
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "jest/consistent-test-it": ["error"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["jest"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  }
}
